body {
    margin: 0;
    padding: 0;
    font-family: 'Tinos', static;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #A5CF83;
    padding: 5px 10px;
    flex-wrap: wrap;
}

footer {
    background-color: #e4c5a7;
    margin: 30px;
    border-radius: 10px;
    padding: 30px 15px;
    align-items: flex-end;
    align-self: flex-end;
}

.aboutUs:hover {
    color: #00ff55;
    cursor: pointer;
    transition: 0.3s;
}

.headerMenu:hover {
    color: #00ff55;
    cursor: pointer;
    transition: 0.3s;
}

.contacts:hover {
    color: #00ff55;
    cursor: pointer;
    transition: 0.3s;
}

.promotions:hover {
    color: #00ff55;
    cursor: pointer;
    transition: 0.3s;
}

.social-button {
    background-color: #ff0404;
    border: none;
    border-radius: 50px;
    font-size: 25px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding:5px;
    margin: 3px;
}

.social-button:hover {
    background-color: #00ff2a;
    cursor: pointer;
    transition: 0.5s;

}

.title{
    display: flex;
    justify-content: center;
}