body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #A5CF83;
    padding: 5px 10px;
    flex-wrap: wrap;
}

.menu-title {
    display: flex;
    justify-content: center;
}

.menu {
    background-color: #F0E76F;
}